.search_filter{
  display: flex;
  flex: 0 1 85%;
  height: 3em;
  margin: 1em 0 2em;
}

.search_filter_title{
  flex: 0 1 auto;
  margin: 1em 0;
}

.search_filter_button_active{
  flex: 0 1 auto;
  height: 2em; 
  font-size: 100%;
  font-weight: bold;
  padding: 0.5em 2em;
  margin: 0.5em 0 1em 1em;
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: #ce5d6e;;
}

.search_filter_button{
  flex: 0 1 auto;
  height: 2em; 
  font-size: 100%;
  font-weight: bold;
  padding: 0.5em 2em;
  margin: 0.5em 0 1em 1em;
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: #383333;
}