.search_button{
  flex: 0 1 25%;
  margin: 1em 5%;
  max-width: 7em;
  max-height: 3em;
  min-width: 7em;
  min-height: 3em;
  color:#ce5d6e;
  font-size: 100%;
  background-color: white;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
}

.movie_detail{
  flex: 0 1 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 5%;
}

.movie_detail_group{
  flex: 0 1 auto;
  display: flex;
  margin: 1em 0;
}

.movie_detail_img_box{
  flex: 0 1 30%;
  margin: 1em;
}

.movie_detail_img{
  max-width: 100%;
  min-width: 20em;
}

.movie_detail_info{
  flex: 0 1 60%;
  min-width: 20em;
  flex-direction: column;
  margin: 1em;
  color: white;
  display: flex;
}

.movie_detail_title{
  flex: 0 1 80%;
  font-size: 200%;
  font-weight: bold;
  color: #ce5d6e;
}

.movie_detail_rating{
  flex: 0 1 3em;
  text-align: center;
  padding-top: 1em;
  max-width: 3em;
  max-height: 2em;
  min-width: 3em;
  min-height: 2em;
  font-size: 120%;
  border: 1px white;
  border-style: solid;
  border-radius: 1.5em;
}

.movie_detail_release_date{
  flex: 0 1 7%;
  font-size: 120%;
  font-weight: bold;
  margin: 0 1em 0 0;
}

.movie_detail_duration{
  flex: 0 1 auto;
  font-size: 120%;
  font-weight: bold;
}

.movie_detail_description{
  flex: 0 1 100%;
}