.films_results{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 0;
  background-color:#f5f3f3;
  color: #383333;
  font-weight: bold;
}

.films_count{
  margin: 0 5% 0 5%;
  flex: 0 1 35%;
  font-weight: bold;

}

.films_sortby{
  margin: 0 5% 0 15%;
  flex: 0 1 35%;
  display: flex;
  flex-wrap: wrap;
}

.films_sortby_button{
  font-weight: bold;
  font-size: 100%;
  flex: 0 1 30%;
  border: 0;
  background-color: transparent;
  color: #4e4848;
}

.films_sortby_button_active{
  font-weight: bold;
  font-size: 100%;
  flex: 0 1 30%;
  border: 0;
  background-color: transparent;
  color: #ce5d6e;
}

.films_sortby_title{
  font-weight: bold;
  flex: 0 1 30%;
}
